* {
    padding: 0;
    margin: 0;

}

body {
    background-color: rgb(250, 220, 220);
}

.buttons {
    gap: 5px;
    width: 250px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
}


.calculadora {
    background-color: rgb(68, 68, 68);
    margin-top: 30vh;
    height: 250px;
    justify-self: center; /*alinha horizontalmente um item dentro de um display grid*/
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 6px 6px 2px;
}

#result {
    text-align: right;
    margin-bottom: 5px;
    background-color: rgb(202, 201, 201);
    width: 250px;
    border: 1px solid black;
    padding: 5px;
}

.column-right {
    background-color: rgb(255, 145, 0);
}

.numbers {
    color: white;
    background-color: rgba(0, 26, 255, 0.815);
}

.button-reset {
    background-color: red;
}


